<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{% block title %}My Site{% endblock %}</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/main.css">
	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white p-3">
			<div class="container px-4">
				<a class="navbar-brand" href="/">
					<img src="/assets/images/mojo_logo.png" alt="Logo" height="40">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="mainNav">

					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="/faq">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/careers">Careers</a>
						</li>
					</ul>

					<a class="btn contact-us-btn text-light btn-md rounded-pill"
						href="/contact">Contact Us</a>
				</div>
			</div>
		</nav>
	</header>

	<main class="container-fluid">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="footer-bg text-light py-4 mt-auto">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>© 2025 Mojo Advisors LLC. All rights reserved. <a href="/t_and_c/"
							class="text-light">Terms and
							Conditions</a></p>
				</div>
				<div class="col-md-6 text-md-end">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a href="/" class="text-light">Home</a>
						</li>
						<li class="list-inline-item"><a href="/about" class="text-light">About
								Us</a></li>
						<li class="list-inline-item"><a href="/contact"
								class="text-light">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	{% block scripts %}{% endblock %}
</body>

</html>
