{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block content %}
<div class="hero">
	<!-- Hero card content -->
	<div class="hero-card">
		<h1 class="display-5 fw-bold mb-1">
			About Us
		</h1>

		<p class="fs-5 text-light mb-3" style="">
			Seasoned CFOs with deep expertise in accounting, financial planning &
			analysis, investment management, M & A, performance improvement, and
			restructuring
		</p>
	</div>
</div>

<section id="team" class="py-5">
	<div class="container">
		<h1 class="text-center mb-5 team-heading">Meet Our Team</h1>

		<!-- Team Member 1: image left, text right -->
		<div class="row align-items-center mb-5">
			<div class="col-md-6 text-center mb-4 mb-md-0">
				<img src="/assets/images/joeseph_profile.jpg" alt="Joseph Melville"
					class="img-fluid rounded shadow-sm mx-auto d-block" style="max-width: 300px;">
			</div>

			<div class="col-md-6 text-center">
				<h3 class="mb-3 name-title">Joeseph Melville</h3>
				<h4 class="pb-2 name-position">Managing Partner of Mojo CFO</h4>
				<p class="name-paragraph">
					Joseph Melville is the Managing Partner and Lead CFO at Mojo CFO, leading the
					firm’s finance and accounting advisory service lines. Mr. Melville brings his
					wealth of experience and expertise to the table when crafting finance and
					accounting solutions in challenging circumstances. Mr. Melville seeks to
					effectively help create more profits and facilitate prosperity for the clients
					he serves.Mr. Melville’s background and experience spans across working as a
					full-time, interim or fractional CFO for a number ofdifferent organizations.
					Professionally, Mr. Melville has managed financial operations for organizations
					to ensure compliance, accuracy and efficient financial operations. To date, Mr.
					Melville has personally served over a dozen clients in a CFO Services capacity,
					supporting companies with annual revenues ranging from $1 to $100 million.Beyond
					that, Mr. Melville is deeply committed to community service. Under his
					leadership, Mojo CFO donates 10% of its profits to support local non-profits,
					churches and charities to further the work of these organizations within our
					communities.Mr. Melville splits time between South Florida and Southern
					Maryland, where he studied International Business & Finance at the Robert H.
					Smith School of Business at the University of Maryland.In his free time, Mr.
					Melville enjoys getting outdoors,andspending time with his friends, family and
					his dog, a Golden Retriever named Millie.
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/assets/js/about.js"></script>
{% endblock %}
