{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content %}
<div class="hero">
    <!-- Hero card content -->
    <div class="hero-card">
        <h1 class="display-5 fw-bold mb-1">
            WE'D LOVE TO HEAR FROM YOU!
        </h1>
        <p class="text-light mb-3" style="">
            Fill out the form below and one of our team members will get back to you as soon as possible.
        </p>
    </div>
</div>

<section id="our-services" class="p-2 position-relative">
    <h1 class="services-title text-center">GET IN TOUCH</h1>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="h4 text-uppercase mb-3">
                    LET'S CONNECT
                </h2>
                <h3 class="mb-4 second-title" style="font-size: 3.0rem; font-weight: 600;">
                    Your <strong>Modern </strong>Finance and Accounting Partner for Success Awaits
                </h3>
                <p class="mb-4">
                    <!-- We’d love to hear from you! Whether you have questions about our services, need assistance, or are -->
                    <!-- ready to schedule a consultation, our team is here to help. -->
                    We'd love to hear from you! Whether you need a quick favor, you have questions about our services,
                    need ongoing assistance or simply want to schedule a consultation, our team is here to help.
                </p>
                <p class="mb-4">
                    <!-- Fill out the form below, and one of our experts will get back to you promptly. -->
                    Fill out the form below, and one of our experts will get back to you promptly.
                </p>
                <p class="mb-4">
                    For immediate inquiries, feel free to reach out via email at <strong>info@mojocfo.com</strong>.
                </p>
                <a href="https://forms.gle/3W1Bu7fW2nFWr1UJA" class="learn-more text-decoration-none fw-bold">Learn
                    More</a>
            </div>
            <div class="col-md-6 order-1 order-md-2 position-relative mb-4 mb-md-0">
                <div class="bg-block d-none d-md-block"></div>
                <img src="/assets/images/corp_meeting.jpg" alt="" class="img-fluid section-img rounded">
            </div>
        </div>
    </div>
</section>

<section class="contact-section py-5">
    <div class="container">
        <h2 class="text-center text-white display-4 fw-bold mb-2">Get in Touch</h2>
        <hr class="border-light w-25 mx-auto mb-4">

        <!-- Google Form Embed -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="ratio ratio-4x3">
                    <iframe
                        src="https://docs.google.com/forms/d/e/1FAIpQLSeJd9-hHFKo6_3PYR-t-7qRoEjywTR6nckMC74j9WMyMRLMYA/viewform?embedded=true"
                        marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
